extends layout.pug

block content
    .jumbotron
        .container
            h1 Home Page
            |
            img(src= someText)
            |
            p= timeStamp
            |
            p= someText
            |
            p
                a.btn.btn-primary.btn-lg(id='learn-more', href='#', role='button') Learn more &raquo;

