extends layout.pug

block content
  .jumbotron
    .container
      h1 Isn't this a nice page?
      |
      section
        form.formWithImageID#formWithImageID
          input.imageToGet#imageToGet(type='number', placeholder='ID')
          |
          button.btn.btn-primary.btn-lg(type='submit') Get image by ID &raquo;
        |
        section.container.imageContainer
        |
        br

