extends layout.pug

block content
  .jumbotron
    .container
      h1 Home Page
      |
      img(src= someText)
      |
      img.image1(src)
      |
      p= someText
      |
      p
        a.btn.btn-primary.btn-lg(id='learn-more', href='#', role='button' onClick='buttonClick()') Learn more &raquo;
        a.btn.btn-primary.btn-lg(id='learn-more-2', href='#', role='button' onClick='buttonClick1()') Learn more &raquo;

